<div class="container wrap">
    <div class="user-looks-title">
        <h2 class="single-title">My Looks: <strong>{{ userLooks.length}}</strong> looks submitted</h2>
    </div>
    <div class="spacer"></div>

    <div class="show-no-looks"
         ng-if="noLooks()">
        <h3>No Looks Added, Why don't you <a ui-sref="main">add one</a>?</h3>
    </div>

    <!-- Angular Grid -->
    <ul class="dynamic-grid angular-grid list-unstyled"
        angular-grid="looks"
        grid-width="300"
        gutter-size="10"
        angular-grid-id="gallery"
        refresh-on-img-load="true" >
        <li data-ng-repeat="look in userLooks"
            class="grid"
            ng-cloak>
            <a ui-sref="look ({ lookId: look._id })" class="lookLink">
                <div class="thumb">
                    <img ng-src="{{ look.image}}" class="grid-img"
                         data-actual-width="{{ look.actualWidth}}"
                         data-actual-height="{{ look.actualHeight}}" />
                    <span ng-if="(look.type === 'youtube')" class="icon">
                        <img src="../../assets/images/video-icon.png">
                    </span>
                </div>
                <div class="titleClass">
                    {{ look.title}}
                </div>
            </a>
            <div class="look-description-trim">
                {{ look.description.substr(0, 100)}}
            </div>
            <div class="lookfoot">
                <div class="pull-left">
                    <span class="likebox">
                        <a href="#" class="like-look" ng-click="addVote(look)"><i class="fa fa-thumbs-o-up icon-like"></i></a>
                        <span class="likeCount">{{ look.upVotes}}</span>
                    </span>
                    <span class="viewbox">
                        <i class="fa fa-eye icon-views"></i> <span class="viewCount">{{ look.views}}</span>
                    </span>
                </div>
                <div class="pull-right actionbox">
                    <a href="#"
                       ng-click="editLook(look)"
                       class="edit-look"
                       data-animation="am-fade-and-scale"
                       data-template-url="app/myLooks/editLookModal.html"
                       bs-modal="showModal">
                        <i class="fa fa-pencil pull-right icon-edit"></i></a>
                    <a href="#"
                       class="edit-look"
                       ng-click="delete(look)">
                        <i class="fa fa-trash-o pull-right icon-edit"
                           data-title="DELETE Item - Cannot be Undone"
                           bs-tooltip></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
        </li>
    </ul>
</div>
