.navbar-custom-internal a {
  color: #fff;
}
nav.navbar-inverse{
    border-radius: 0;
    background: #f8f8f8;
    border: none;
    box-shadow: 0 0 3px;
}
nav.navbar-inverse ul.nav li a:hover{
    color: #000;
}
.navbar-inverse .navbar-logo {
  width: 140px;
}
.navbar-brandi {
  float: left;
  padding: 0 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}
.gravatar-image {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  height: 40px;
  width: 40px;
}
