<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button"
                        class="close"
                        ng-click="$hide()"><i class="fa fa-times"></i></button>
                <h4 class="modal-title">Add Your Look</h4>
            </div>

            <div class="modal-body" ng-show="scrapePostForm">

                <div class="addTabs">
                    <a ng-click="lookTab('link.html')" ng-class="{active: isLtActive('link.html')}">Link</a>
                    <!--<a ng-click="lookTab('pinterest-link.html')" ng-class="{active: isLtActive('pinterest-link.html')}">Pinterest</a>-->
<!--                    <a ng-click="lookTab('youtube-link.html')" ng-class="{active: isLtActive('youtube-link.html')}">Youtube</a>
                    <a ng-click="lookTab('facebook-link.html')" ng-class="{active: isLtActive('facebook-link.html')}">Facebook</a>
                    <a ng-click="lookTab('haivn-link.html')" ng-class="{active: isLtActive('haivn-link.html')}">Haivn</a>-->
                    <a ng-click="lookTab('upload.html')" ng-class="{active: isLtActive('upload.html')}">Upload</a>
                </div>

                <!--tab content-->
                <div ng-include="tabLink"></div>

                <div class="spinner"
                     ng-show="loading">
                    <img src="assets/images/spinner.gif">
                </div>

            </div>

            <!--            <div class="modal-body">
                            <div class="uploadLookTitle">
                                <button class="btn btn-primary btn-lg btn-block" ng-show="uploadLookTitle" ng-click="showUploadForm()">Upload a Look</button>
                            </div>
                        </div>-->

            <div class="modal-footer close-btn-main">
                <button type="button"
                        class="btn btn-default pull-left"
                        ng-click="$hide()">Close</button>
            </div>

        </div>
    </div>
</div>
