<div class="container">
    <!-- Search, and Upload Button -->
    <div id="searchFilterWrap">
        <form id="searchForm">
            <input type="text"
                   id="searchBox"
                   placeholder="Search by title"
                   ng-model="searchTxt"
                   ng-model-options="{debounce: 600}" />
        </form>

        <div class="modal-backdrop-am-fade"
             id="sortByWrap">
            Sort By : <i class="fa fa-calendar"
                         ng-click="sortByTime()"></i>
            <i class="fa fa-thumbs-up"
               ng-click="sortByLikes()"></i>

            <button class="btn btn-primary"
                    data-animation="am-fade-and-scale"
                    data-placement="center"
                    data-template-url="app/main/addLookModal.html"
                    bs-modal="showModal">Add Look</button>
        </div>
    </div>

    <div class="spinner"
         ng-show="loading">
        <img src="assets/images/spinner.gif">
    </div>

    <!-- Angular Grid -->
    <div class="container" infinite-scroll="nextPage()"
         infinite-scroll-disabled="busy || noMoreData"
         distance="0.1">
        <ul class="dynamic-grid angular-grid"
            angular-grid="looks"
            grid-width="275"
            gutter-size="10"
            angular-grid-id="gallery"
            refresh-on-img-load="true">
            <li data-ng-repeat="look in looks track by $index" class="grid" ng-cloak>
                <a ui-sref="look ({ lookId: look._id })" class="lookLink">
                    <img ng-src="{{ look.image}}" class="grid-img"
                         data-actual-width="{{ look.actualWidth}}"
                         data-actual-height="{{ look.actualHeight}}" />
                    <div class="titleClass">
                        {{ look.title}} ({{(look.type) ? look.type : 'image'}})
                    </div>
                </a>
                <div class="lookmeta">
                    <span class="author"><a href="#">{{look.userName}}</a></span>
                    <span class="date"> , <i class="fa fa-calendar"></i> 05/05/2016</span>
                </div>
                <div class="look-description-trim">
                    {{ look.description.substr(0, 100)}}
                </div>
                <div class="lookfoot">
                    <div class="pull-left">
                        <span class="likebox">
                            <a href="#" class="like-look" ng-click="addVote(look)"><i class="fa fa-thumbs-o-up icon-like"></i></a>
                            <span class="likeCount">{{ look.upVotes}}</span>
                        </span>
                        <span class="viewbox">
                             | <i class="fa fa-eye icon-views"></i> <span class="viewCount">{{ look.views}}</span>
                        </span>
                    </div>
                    <div class="pull-right sharebox">
                        <div ng-include="'app/components/sharebox.html'"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </li>
        </ul>
        <div ng-show="busy">Loading data...</div>
    </div>
</div>
